In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("USA_companies.xlsx")

In [4]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
97,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"

In [5]:
df.dtypes

Rank                       int64
Name                      object
Industry                  object
Revenue (USD millions)    object
Revenue growth            object
Employees                 object
Headquarters              object
dtype: object

In [6]:
df['Revenue (USD millions)'] = df['Revenue (USD millions)'].str.replace(',', '.').astype(float)

In [7]:
df['Revenue growth'] = df['Revenue growth'].astype(str)

In [8]:
df["Revenue growth"]= df["Revenue growth"].str.strip("%")

In [9]:
df["Revenue growth"]= df["Revenue growth"].astype(float)

In [10]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,611.289,6.7,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,513.983,9.4,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,413.680,44.8,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,394.328,7.8,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,324.162,12.7,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,46.298,10.6,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,46.159,0.5,"34,300","New York City, New York"
97,98,United Airlines,Airline,44.955,82.5,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,44.915,14.5,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,44.200,31.7,"51,000","San Diego, California"

In [11]:
df.dtypes

Rank                        int64
Name                       object
Industry                   object
Revenue (USD millions)    float64
Revenue growth            float64
Employees                  object
Headquarters               object
dtype: object

In [12]:
df["Employees"]= df["Employees"].astype(str)

In [13]:
df["Employees"]= df["Employees"].str.replace(",","")

In [14]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,611.289,6.7,2100000,"Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,513.983,9.4,1540000,"Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,413.680,44.8,62000,"Spring, Texas"
3,4,Apple,Electronics industry,394.328,7.8,164000,"Cupertino, California"
4,5,UnitedHealth Group,Healthcare,324.162,12.7,400000,"Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,46.298,10.6,71100,"Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,46.159,0.5,34300,"New York City, New York"
97,98,United Airlines,Airline,44.955,82.5,92795,"Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,44.915,14.5,130000,"Waltham, Massachusetts"
99,100,Qualcomm,Technology,44.200,31.7,51000,"San Diego, California"

In [15]:
df['Revenue growth'] = df['Revenue growth'].astype(str)

In [16]:
df['Employees'] = df['Employees'].astype(str)

In [17]:
df['Employees'] = df['Employees'].str.replace(r'\D', '', regex=True)
df['Employees'] = df['Employees'].astype(int)

In [18]:
df.dtypes

Rank                        int64
Name                       object
Industry                   object
Revenue (USD millions)    float64
Revenue growth             object
Employees                   int32
Headquarters               object
dtype: object

In [19]:
df.columns

Index(['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth',
       'Employees', 'Headquarters'],
      dtype='object')

In [20]:
df.shape

(100, 7)

In [21]:
df.isnull().sum()

Rank                      0
Name                      0
Industry                  0
Revenue (USD millions)    0
Revenue growth            0
Employees                 0
Headquarters              0
dtype: int64

In [25]:
df.to_excel("cleaned_largest_companies_USA_dataset.xlsx", engine='openpyxl', index=False)